@import '~antd/dist/antd.css';
@import "./loader";

html,
body,
#root,
.parent-layout {
  width: 100vw;
  height: 100vh;
}


.fallback-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999999;
  background-color: rgba(200, 200, 200, .6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  overflow-x: hidden;
  overflow-y: auto;
}


.ant-card-extra {

  & > * {
    margin-left: 8px;
  }

  & > *:first-child {
    margin-left: 0;
  }

}

.page-content {

  .save-button {
    width: 100%;
  }

  .actions {

    & > *:not(:first-child) {
      margin-left: 8px;
    }
  }

  .ant-empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
