.ant-layout-sider {
  height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.side-menu-layout {
  .logo {
    height: 188px;
    background: url("../../assets/logo.png");
    background-size: 268px;
    background-position: center;
    margin: 16px;
  }

  .content-container {
    height: 100vh;
    padding: 8px 20px;
    overflow: auto;
  }
}
